# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Environment files
.env
.env.*

# Logs
logs/
*.log

# Build outputs
dist/
build/
public/build/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Temp
tmp/
*.pid
*.seed

# Misc
.cache/
.sass-cache/

# Backup files
*.backup
*.old
*.old-*
*-old.*
